form {
    background-color: #ffffff;
}

.form-head {
    font-size: 24px;
    font-weight: bold;
    text-align: center;
    margin-bottom: 20px;
    color: #333333;

}

.form-corp {
    margin: 15px;
    font-size: 16px;
    margin-bottom: 25px;
    text-align: center;
    color: #666666;
}

.form-obs {
    font-size: 11px;
    color: #333333;
    text-align: center;
    margin-bottom: 25px;
}

.link-manual {
    color: #007bff;
    text-decoration: none;
}

.link-manual:hover {
    cursor: pointer;
    text-decoration: underline;
}

input[type=submit] {
    display: block;
    background-color: #007bff;
    height: 45px;
    border: none;
    outline: 0;
    cursor: pointer;
    width: 150px;
    margin: 0 auto;
    text-align: center;
    border-radius: 15px;
    font-weight: bold;
    font-size: 16px;
    color: white;

}

textarea {
    line-height: 20px;
    padding: 10px;
    height: 90px;
    resize: none;
}

.formulario {
    margin-top: 8%;
    width: 400px;
    padding: 30px;
    border-radius: 10px;
    box-shadow: rgb(186, 185, 185) 2px 2px 8px;

}

p {
    width: 100%;
    font-size: 18px;
}

.formulario label {
    font-size: 15px;
    font-weight: 500;
}

.endereco {
    width: 90%;
    margin: 15px;
    margin-bottom: 20px;
    cursor: pointer;

}

.endereco input:hover {
    border-color: #007bff;

}

.selecao {
    width: auto;
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 45px;

}

.mensagem {
    width: 90%;
    margin: 15px;
    margin-bottom: 25px;
}

input[type=radio],
.selecao {
    cursor: pointer;
}


input[type=text],
textarea {
    width: 100%;
    padding-left: 10px;
    height: 40px;
    line-height: 30px;
    border-radius: 8px;
    border: 1px solid #ccc;
    outline: none;
    font-family: Roboto;
}

textarea:hover {
    border-color: #007bff;
}

input#nao {
    margin-left: 30px;
}