.cadastrar-container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    padding: 20px;
    background-color: #E6F3FF;
}

.cadastrar-card {
    background-color: #FFFFFF;
    padding: 2rem;
    border-radius: 12px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 400px;
    text-align: center;
}

h1 {
    font-size: 1.2rem;
    color: #333;
    font-weight: bold;
    margin-bottom: 1.5rem;
}

.terms {
    color: #AAA;
    font-size: 0.75rem;
    line-height: 1.3;
    margin-top: 1.5rem;
}

.terms a {
    color: #007BFF;
    text-decoration: none;
}

.terms a:hover {
    text-decoration: underline;
}

.address-confirmation {
    margin-top: 1rem;
}

.address-details {
    text-align: left;
    margin-bottom: 1rem;
}

.address-details p {
    font-size: 0.9rem;
    color: #333;
    margin: 0.5rem 0;
}

.address-details p strong {
    font-weight: bold;
    color: #000;
}

.adress-item {
    margin-bottom: 1.7em;
}

.edit-address {
    color: #007BFF;
    font-size: 0.9rem;
    cursor: pointer;
    margin-top: 1rem;
    text-decoration: underline;
}

.edit-address:hover {
    color: #0056b3;
}


/* Responsivo */
@media (max-width: 600px) {
    .cadastrar-card {
        padding: 1.5rem;
        width: 100%;
    }

    h1 {
        font-size: 1.1rem;
    }

    .terms {
        font-size: 0.7rem;
    }
}